<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="ApplicationBase" version="2.0.0" targetFramework="net48" />
	<package id="Builder" version="2.0.0" targetFramework="net48" />
	<package id="DirectX" version="2.0.0" targetFramework="net48" />
	<package id="Geometry" version="2.0.0" targetFramework="net48" />
	<package id="GPUModel" version="2.0.0" targetFramework="net48" />
	<package id="GraficBase" version="2.0.0" targetFramework="net48" />
</packages>

